body {
  background-color: #f4f2ee;
}

/*Navbars */
#secondary-navbar {
  background-color: #ffffff;
}
#primary-navbar {
  background-color: #ffffff;
}
#profile-img-sec-navbar {
  width: 25px;
  height: 25px;
}
#profile-img-primary-navbar {
  width: 25px;
  height: 25px;
}
.search-input-div {
  background-color: #edf3f8;
}
#input-search {
  background-color: #edf3f8;
  height: 30px;
}
.navbarParag {
  font-size: 0.7rem;
}
#dropdown-button-navbar {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  height: 40px;
}
#dropdown-button-navbar span {
  font-size: 0.7rem;
}
#navbar-premium {
  font-size: 0.8rem;
}
#navbar-premium a {
  color: #b06031;
}
#aziende-dropdown {
  width: 40rem;
}
.dropdown-menu a {
  text-decoration: none;
  color: black;
}
.dropdown-menu a:hover {
  text-decoration: underline;
}
.dropdown-menu h4 {
  font-size: 1.3rem;
  font-weight: 600;
}
.dropdown-menu h5 {
  font-size: 0.9rem;
  color: grey;
}
.dropdown-menu h6 {
  font-size: 0.9rem;
  font-weight: 600;
}
.dropdown-menu p {
  font-size: 0.7rem;
  opacity: 70%;
}
#dropdown-basic {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
}
#dropdown-basic span {
  font-size: 0.7rem;
}
#profile-dropdown {
  width: 18rem;
}
#profile-dropdown h4 {
  font-size: 1.1rem;
}
#profile-dropdown p {
  font-size: 0.9rem;
}
#profile-dropdown button {
  color: #0d6efd;
  --bs-btn-bg: white;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-active-bg: #ffffff;
}
.dropdown-toggle::after {
  display: none;
}
@media only screen and (min-width: 992px) {
  #secondary-navbar {
    display: none !important;
  }
  #primary-navbar {
    top: 0;
    bottom: initial !important;
  }
}
.imgCardProfile {
  position: relative;
  display: inline-block;
}

.imgCardProfile img {
  display: block;
  width: 100%;
  height: auto;
}

.imgCardProfile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
  pointer-events: none;
}

.icon {
  fill: #666666;
}

.artdeco-button__icon {
  fill: #0a66c2;
}

.i12x12 {
  width: 12px;
}

.i16x16 {
  width: 16px;
}

.i24x24 {
  width: 24px;
}

.actions-container {
  height: 48px;
  width: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 993px) {
  .actions-container {
    width: 48px;
  }
  .imgCardProfile::before {
    content: "";
    background: transparent;
  }
  .info-contact {
    text-decoration: none;
    margin-left: 2px;
    color: #0a66c2;
  }
  .position::after {
    content: "\00b7\00a0";
    fill: #0a66c2;
    padding-left: 4px;
    font-weight: 600;
  }
  .info-contact:hover {
    text-decoration: underline;
  }
}

.linkArtDeco {
  background-color: #ffffff;
  color: #0a66c2;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.linkSettings {
  background-color: #ffffff;
  color: #666666;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkEditImg {
  background-color: #ffffff;
  color: #666666;
  border-radius: 50%;
  border: 1px solid #cecece;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -35px;
  left: 105px;
  margin-bottom: -40px;
}

.linkSettings svg {
  width: 16px;
  height: 16px;
}

.camIcon {
  background-color: #ffffff;
  position: relative;
  border-radius: 50%;
  padding: 1.9rem 2rem 3.6rem 2rem;
}

.profileIcon {
  background-color: #ffffff;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  height: 128px;
  width: 128px;
  object-fit: cover;
}

.camText {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu,
    Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  padding-top: 0.25rem;
  position: absolute;
  left: 20px;
  top: 70px;
}

.fw-500 {
  font-weight: 500;
}

.text-link {
  color: #0a66c2;
}

.iconBarProfile {
  height: 48px;
  align-items: self-end;
}

.body-small {
  font-size: 0.9rem;
}

.info {
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
}

.hide {
  border: none;
  background: transparent;
  padding-inline: 8px;
  padding-block: 4px;
}
#top-margin {
  margin-top: 3.8rem;
}

@media screen and (max-width: 992px) {
  #top-margin {
    margin-top: 2.8rem;
  }
}

.dot-separator::before {
  content: "\00b7\00a0";
  padding-left: 4px;
}

.cont {
  background-color: white;
}

.editImgProfile {
  height: 100vh;
}

.h1Profile {
  font-weight: 600;
  font-size: 1.3rem;
}

.roundedAll {
  border-radius: 100rem;
}

.imgPreview {
  width: 300px;
}

/* Homepage */

#homepage-container {
  margin-top: 4.8rem;
}
#homepage-profile-image-rounded-left-col {
  top: -26px;
  border: 2px solid white;
}
#leftcolhomepage .card-img-top {
  height: 90px;
  object-fit: cover;
}
#leftcolhomepage .card:nth-child(1) {
  font-size: 0.9rem;
}
#leftcolhomepage .card:nth-child(1) a {
  text-decoration: none;
  color: black;
}
#leftcolhomepage .card:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 600;
}
#leftcolhomepage .card:nth-child(2) a {
  text-decoration: none;
  color: black;
}
#leftcolhomepage .card:nth-child(2) a p:hover {
  text-decoration: underline;
}
#leftcolhomepage .card:nth-child(3) a {
  text-decoration: none;
  color: black;
}
#leftcolhomepage .card:nth-child(3) {
  font-size: 0.9rem;
}
#leftcolhomepage .card:nth-child(3) a h6:hover {
  color: #0d6efd;
}
#leftcolhomepage .card:nth-child(4) a h6:hover {
  text-decoration: underline;
}
#vedi-altro-homepage-btn {
  --bs-btn-bg: #f4f2ee;
  --bs-btn-border-color: #f4f2ee;
  --bs-btn-hover-bg: #f3f3f3;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #f3f3f3;
  --bs-btn-active-border-color: #ffffff;
  color: black;
}

#creation-post-button {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #f3f3f3;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #f3f3f3;
  --bs-btn-active-border-color: #ffffff;
  font-weight: 600;
}
#div-bottom-post .btn {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #f3f3f3;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #f3f3f3;
  --bs-btn-active-border-color: #ffffff;
  color: black;
  font-weight: bold;
  opacity: 50%;
}
.post-card .btn {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #f3f3f3;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #f3f3f3;
  --bs-btn-active-border-color: #ffffff;
  color: black;
}
#nome-autore-post:hover {
  text-decoration: underline;
  color: blue;
}
#followers-card {
  font-size: 0.8rem;
}
#like-card span {
  text-decoration: none;
  color: black;
}
#like-card span:hover {
  text-decoration: underline;
  color: blue;
}

#date-creation-post {
  font-size: 0.8rem;
}
#homepage-sidebar-list li:hover {
  background-color: #ebebeb;
}
#vedi-altro-homepage-sidebar {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #f3f3f3;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #f3f3f3;
  --bs-btn-active-border-color: #ffffff;
  color: black;
  font-weight: 600;
}
.giochi-sidebar-homepage div:hover {
  background-color: #ebebeb;
}
#homepage-sidebar-image-card {
  top: 4.8rem;
}
#homepage-sidebar-suggest-card {
  top: 21.5rem;
}
#homepage-footer {
  top: 29rem;
}
#carica-post-btn {
  --bs-btn-bg: #f4f2ee;
  --bs-btn-border-color: black;
  --bs-btn-hover-bg: #f3f3f3;
  --bs-btn-hover-border-color: black;
  --bs-btn-active-bg: #f3f3f3;
  --bs-btn-active-border-color: black;
  color: black;
  font-weight: 600;
  width: 100%;
}

.badge {
  background-color: #fce3bc !important;
  color: #584055 !important;
}

footer ul li {
  font-size: 0.8rem;
}
footer ul li a p:hover {
  text-decoration: underline;
}

.btnProfile {
  border: 1px solid #0a66c2;
  color: #0a66c2;
}

.rounded-block {
  border: none;
  border-radius: 0;
}

@media screen and (min-width: 993px) {
  .rounded-overflow {
    overflow: hidden;
    background-color: #fff;
  }
  .rounded-block {
    border-radius: 10px;
    border: 1px solid #dddddd;
  }
  .d-h5-lg {
    font-size: 2rem;
  }
  .profileIcon {
    width: 152px;
    height: 152px;
  }
}

.badge-verifica {
  font-size: 0.9rem;
  vertical-align: middle;
  border: 1px dashed #0a66c2;
  border-radius: 50px;
  color: #0a66c2;
  background-color: #ffffff;
  padding-block: 2px;
  font-weight: 600;
}

.badge-verifica:hover {
  background-color: #eaf4fd;
}

.btndisp {
  background-color: #0a66c2;
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #0a66c2;
}

.btndispOutline {
  background-color: #fff;
}

.btndispOutline:hover {
  background-color: #034182;
  color: #fff;
  border-color: #034182;
  border: 2px solid #034182;
}

.btndisp:hover {
  background-color: #034182;
}

.btnaddbet {
  background-color: #ffffff;
  border: 1px solid #0a66c2;
  color: #0a66c2;
  font-weight: 600;
  box-shadow: 0 0 0 1px transparent;
}

.btnaddbet:hover {
  background-color: #eaf4fd;
  box-shadow: 0 0 0 1px #0a66c2;
}

.btnris {
  background-color: #ffffff;
  border: 1px solid black;
  box-shadow: 0 0 0 1px transparent;
}

.btnris:hover {
  background-color: #e9e9e9;
  box-shadow: 0 0 0 1px black;
}

.body-xs {
  font-size: 0.8rem;
}
