body {
  background-color: #f4f2ee;
}

/*Navbars */
#secondary-navbar {
  background-color: #ffffff;
}
#primary-navbar {
  background-color: #ffffff;
}
#profile-img-sec-navbar {
  width: 25px;
  height: 25px;
}
#profile-img-primary-navbar {
  width: 25px;
  height: 25px;
}
.search-input-div {
  background-color: #edf3f8;
}
#input-search {
  background-color: #edf3f8;
  height: 30px;
}
.navbarParag {
  font-size: 0.7rem;
}
#dropdown-button-navbar {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  height: 40px;
}
#dropdown-button-navbar span {
  font-size: 0.7rem;
}
#navbar-premium {
  font-size: 0.8rem;
}
#navbar-premium a {
  color: #b06031;
}
#aziende-dropdown {
  width: 40rem;
}
.dropdown-menu a {
  text-decoration: none;
  color: black;
}
.dropdown-menu a:hover {
  text-decoration: underline;
}
.dropdown-menu h4 {
  font-size: 1.3rem;
  font-weight: 600;
}
.dropdown-menu h5 {
  font-size: 0.9rem;
  color: grey;
}
.dropdown-menu h6 {
  font-size: 0.9rem;
  font-weight: 600;
}
.dropdown-menu p {
  font-size: 0.7rem;
  opacity: 70%;
}
#dropdown-basic {
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
}
#dropdown-basic span {
  font-size: 0.7rem;
}
#profile-dropdown {
  width: 18rem;
}
#profile-dropdown h4 {
  font-size: 1.1rem;
}
#profile-dropdown p {
  font-size: 0.9rem;
}
#profile-dropdown button {
  color: #0d6efd;
  --bs-btn-bg: white;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-active-bg: #ffffff;
}
.dropdown-toggle::after {
  display: none;
}
@media only screen and (min-width: 992px) {
  #secondary-navbar {
    display: none !important;
  }
  #primary-navbar {
    top: 0;
    bottom: initial !important;
  }
}
.imgCardProfile {
  position: relative;
  display: inline-block;
}

.imgCardProfile img {
  display: block;
  width: 100%;
  height: auto;
}

.imgCardProfile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
  pointer-events: none;
}

.icon {
  fill: #666666;
}

.i12x12 {
  width: 12px;
}

.i16x16 {
  width: 16px;
}

.i24x24 {
  width: 24px;
}

.actions-container {
  height: 48px;
  width: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkSettings {
  background-color: #ffffff;
  color: #666666;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: 50%;
}

.linkSettings svg {
  width: 16px;
  height: 16px;
}

.camIcon {
  background-color: #ffffff;
  position: relative;
  border-radius: 50%;
  padding: 1.9rem 2rem 3.6rem 2rem;
}

.profileIcon {
  background-color: #ffffff;
  position: relative;
  border-radius: 50%;
  padding: 0.25rem;
}

.camText {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu,
    Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  padding-top: 0.25rem;
  position: absolute;
  left: 20px;
  top: 70px;
}

.fw-500 {
  font-weight: 500;
}

.text-link {
  color: #0a66c2;
}

.iconBarProfile {
  height: 48px;
  align-items: self-end;
}

.body-small {
  font-size: 0.9rem;
}

.info {
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
}

.hide {
  border: none;
  background: transparent;
  padding-inline: 8px;
  padding-block: 4px;
}
#top-margin {
  margin-top: 3.8rem;
}
.dot-separator::before {
  content: "\00b7\00a0";
  padding-left: 4px;
}
.icon-modifica {
  position: absolute;
  right: 1.5em;
}

.editImgProfile {
  height: 100vh;
}

.h1Profile {
  font-weight: 600;
  font-size: 1.3rem;
}

.roundedAll {
  border-radius: 100rem;
}

.imgPreview {
  max-width: 300px;
}
